.sub-title{
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  color: $light-blue-color;
  margin-top: 2rem;
}

.category-card-container{
  display: flex;
  margin: 2rem 4rem;
  justify-content: center;

  li{
  background-color: $light-blue-color;
  overflow: hidden;
  border-radius: 2rem;
  transition: all 300ms ease-in-out;
  margin: 1rem;
  width: 15rem;

  .img-container{
    width: 100%;
    height: 12rem;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  
  }
  
  }
  li:hover{
    box-shadow: $orange-color 2px 2px 1px 1px; 
  }
  a{
    text-align: center;
    color: white;
  }
  :hover{
    color: $pink-color;
    
  }
}