.login-page-container{
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
  .login-form-wrap{
    width: 20rem;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
      color: $dark-green-color;
      font-weight: 500;
      border: 2px $light-green-color solid;
      border-radius: 1rem;
      padding: 0.6rem;
      &::placeholder {
      color: lighten($color: $light-green-color, $amount: 25);
      }
    }
  }

}