.login-page-container{
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
  p {
    font-weight: 500;
  }
  .login-form-wrap{
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .field-container{
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: auto 10px; 
      justify-content: center;
      align-items: center;
      gap: 0.8rem;
      padding: 0.8rem;
    }
    input {
      background-color: #fff;
      color: $dark-green-color;
      font-weight: 500;
      border: 2px $light-green-color solid;
      border-radius: 1rem;
      padding: 0.6rem;
      &::placeholder {
      color: lighten($color: $light-green-color, $amount: 25);
      }
    }
  }

}