$light-blue-color: #abbbed;
$orange-color: #f27d59;
$pink-color: #fae3d9;
$light-green-color: #bdc463;
$dark-green-color: #2B4C31;
$background-color: #fffffc;

//字體
$large-font: clamp(16px, 1.8vw, 21px);
$middle-font: clamp(14px, 1.5vw, 19px);