@import 'normalize.css';
// 引入全局變數
@import './variables';


:root {
  // 字體設定
  font-family: "Zen Maru Gothic", serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: $font-md;

  // 顏色方案與基礎配色
  color-scheme: light dark;
  color: $dark-green-color;
  background-color: $background-color;

  // 文字渲染優化
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

ul, ol{
  list-style: none;
}

a {
  font-weight: 500;
  color: #fff;
  text-decoration: inherit;
  font-size: $font-sm;
}
a:hover {
  color: $orange-color;
}



body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  border-color: $background-color;
}

h1, h2 {
  appearance: none;
}

button {
all: unset;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

// @media (prefers-color-scheme: light) {
//   :root {
//     color: #213547;
//     background-color: #ffffff;
//   }
//   a:hover {
//     color: #747bff;
//   }
//   button {
//     background-color: #f9f9f9;
//   }
// }

//通用樣式
.black-overlay {
  background-color: #0000001a;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  z-index: 20;
}


// 元件樣式： Navbar
.navbar-container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 997;
  width: 100%;
  padding: 10px 45px;
  justify-content: space-between;
  img{
    width: 70px;
  }
  .nav-list-container{
    display: flex;
    align-items: center;
    li{
    padding: 0 25px;
    }
  }
}

// 元件樣式： Footer
.footer-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 10rem;

  .footer-bg {
    height: 100%;
    position: absolute;
    inset: 0;
    bottom: 0;
  }
  h2 {
    position: absolute;
    bottom: 2rem;
    color: #fff;
    font-size: $font-md;
    margin: 0;
  }
}

// 元件樣式： flower-h2
.flower-h2{
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 20;
  font-size: $font-lg;
   &:hover svg{
    transform: rotate(180deg);
  }
  svg {
    fill:$light-blue-color;
    width: 8vw;
    animation: 
      opacity 1s ease-in-out forwards,
      rotate 2s cubic-bezier(0.5, 0, 0.13, 1) ;
      transition: transform 2s cubic-bezier(0.5, 0, 0.13, 1); /* hover 時的平滑過渡 */
    }
  h2{
    font-size: $font-lg;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
  }
}

// 圓形圖片
.circle-image {
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
  overflow: hidden;
  object-fit: cover;
}


// 按鈕樣式： 
.main-btn{
  width: 8rem;
  height: 4rem;
  border-radius: 30px;
  background-color: $orange-color;
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-size: $font-lg;
  margin: 2rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  &:hover{
    scale: 1.05;
    background-color: darken($color: $orange-color, $amount: 5);
    color: $pink-color;
  }
}

.green-btn {
  background-color: $light-green-color;
  color: $dark-green-color;
  &:hover{
    background-color: lighten($color: $dark-green-color, $amount: 5);
    color: #fff;
  }
}

.blue-btn {
  background-color: $light-blue-color;
  color: #fff;
  &:hover{
    background-color: darken($color: $light-blue-color, $amount: 5);
    color: #fff;
  }
}

.cancel-btn{
  background-color: darken($color: $pink-color, $amount: 5);
  color: $orange-color;
    &:hover{
    background-color: darken($color: $pink-color, $amount: 10);
    color: #fff;
  }

}

// HomePage: hero section

.home-page-container{
  min-height: 100vh;
}

.hero-section{
  position: relative;
  .hero-wave{
    width: 100vw; // 填滿父容器
    height: auto; // 保持比例
    display: block; // 確保行為一致
    .hero-image{
      object-fit: cover; // 確保圖片填滿裁剪區域，保持比例
    }
  }
  .hero-action{
    position: absolute;
    place-items: center;
    right: 10rem;
    top: 12rem;
  }
  h1{
    font-size: 1.5rem;
    padding-bottom: 10px;
  }
}
.home-page-top{
  position: absolute;
  inset: 0;
}

//下拉選單select 樣式
.custom-select{
  text-align: center;
  padding: 8px 12px;
  margin: 0 0.3rem;
  font-size: $font-md; 
  border: 2px solid $orange-color; 
  border-radius: 30px; 
  background-color: transparent; 
  color: $orange-color;
  cursor: pointer;

  /* 移除預設樣式 */
  appearance: none; /* 移除瀏覽器預設樣式 */
  -webkit-appearance: none; /* 兼容 Webkit 瀏覽器（如 Chrome、Safari） */
  -moz-appearance: none; /* 兼容 Firefox */
}

.custom-select:focus {
  background-color: $orange-color;
  color: #fff;
}



// radio input 樣式
.custom-radio{
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: $font-lg;
  gap: 0.5rem; // 控制文字與按鈕的間距
  
  }

.custom-radio input[type="radio"] {
  display: none;
}

/* 自訂 radio 外框 */
.custom-radio .radio-mark {
  width: 20px;
  height: 20px;
  border: 2px solid $orange-color;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  position: relative;
}

/* 選中時的效果 */
.custom-radio input[type="radio"]:checked + .radio-mark {
  background-color: $orange-color; /* 改變背景顏色 */
}

/* 內部圓點（選中時顯示） */
.custom-radio .radio-mark::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  opacity: 0;
  transform: scale(0);
}

/* 選中時顯示內部圓點 */
.custom-radio input[type="radio"]:checked + .radio-mark::after {
  opacity: 1;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}


// 分頁器
.pagination-wrap {
      a{
        color: $light-blue-color;
        font-size: 1.2rem;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        &:hover {
          color: darken( $light-blue-color, 10%);
        }
        &.active{
          color: $pink-color;
          background-color: $orange-color;
          border-radius: 50%;
          text-align: center;
        }
  }
}

// alertPopup Modal
.alert-overlay{
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  z-index: 998;
  .alert-popup-container {
  position: fixed;
  background-color: $dark-green-color;
  color: $pink-color;
  top: 20vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  text-align: center;
  border-radius: 24px;
  padding-top: 2rem;
    .alert-btn-container{
      display: flex;
  }
}
}


//動畫效果
@keyframes rotate {
     from {
      transform: rotate(0deg);
      scale: 1;
     } 
     to {
      transform: rotate(180deg);
      scale: 1.08;
     }
    }

@keyframes opacity {
  from{
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

//引入其他分頁
@import 'adoption';
@import 'animal';
@import 'categoryCard';
@import 'compare';
@import 'user';
@import 'admin';
