@import 'normalize.css';
// 引入全局變數
@import './variables';

:root {
  // 字體設定
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  // 顏色方案與基礎配色
  color-scheme: light dark;
  color: $dark-green-color;
  background-color: $background-color;

  // 文字渲染優化
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

ul, ol{
  list-style: none;
}

a {
  font-weight: 500;
  color: #fff;
  text-decoration: inherit;
}
a:hover {
  color: $orange-color;
}



body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  border-color: $background-color;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
all: unset;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

// @media (prefers-color-scheme: light) {
//   :root {
//     color: #213547;
//     background-color: #ffffff;
//   }
//   a:hover {
//     color: #747bff;
//   }
//   button {
//     background-color: #f9f9f9;
//   }
// }

//通用樣式
.black-overlay {
  background-color: #0000001a;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  z-index: 20;
}


// 元件樣式： Navbar
.navbar-container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  padding: 10px 45px;
  justify-content: space-between;
  img{
    width: 70px;
  }
  .nav-list-container{
    display: flex;
    align-items: center;
    li{
    padding: 0 25px;
    }
  }
}

// 元件樣式： flower-h2
.flower-h2{
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 20;
   &:hover svg{
    transform: rotate(180deg);
  }
  svg {
    animation: 
      opacity 1s ease-in-out forwards,
      rotate 2s cubic-bezier(0.5, 0, 0.13, 1) ;
      transition: transform 2s cubic-bezier(0.5, 0, 0.13, 1); /* hover 時的平滑過渡 */
    }
  h2{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
  }
}
// 按鈕樣式： 
.main-btn{
  width: 10rem;
  height: 3rem;
  border-radius: 30px;
  background-color: $orange-color;
  color: #fff;
  text-align: center;
  font-size: 1.3rem;
}

// HomePage: hero section
.hero-section{
  position: relative;
  .hero-wave{
    width: 100vw; // 填滿父容器
    height: auto; // 保持比例
    display: block; // 確保行為一致
    .hero-image{
      object-fit: cover; // 確保圖片填滿裁剪區域，保持比例
    }
  }
  .hero-action{
    position: absolute;
    place-items: center;
    right: 10%;
    top: 50%;
  }
  h1{
    font-size: 1.5rem;
    padding-bottom: 10px;
  }
}

//下拉選單select 樣式
.custom-select{
  text-align: center;
  padding: 8px 12px;
  margin: 0 0.3rem;
  font-size: $middle-font; 
  border: 2px solid $orange-color; 
  border-radius: 30px; 
  background-color: transparent; 
  color: $orange-color;
  cursor: pointer;


  /* 移除預設樣式 */
  appearance: none; /* 移除瀏覽器預設樣式 */
  -webkit-appearance: none; /* 兼容 Webkit 瀏覽器（如 Chrome、Safari） */
  -moz-appearance: none; /* 兼容 Firefox */
}

// radio input 樣式
.custom-radio{
  border: 2px solid $orange-color; 
  padding: 0.5rem;
  margin: 0 0.3rem;
  border-radius: 50%;

  /* 移除預設樣式 */
  appearance: none; /* 移除瀏覽器預設樣式 */
  -webkit-appearance: none; /* 兼容 Webkit 瀏覽器（如 Chrome、Safari） */
  -moz-appearance: none; /* 兼容 Firefox */
  
  // 點選時
  input[type="radio"] {
    accent-color: $orange-color; /* 變更選中時的顏色 */
  }

}


//動畫效果
@keyframes rotate {
     from {
      transform: rotate(0deg);
      scale: 1;
     } 
     to {
      transform: rotate(180deg);
      scale: 1.08;
     }
    }

@keyframes opacity {
  from{
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

//引入其他分頁
@import 'adoption'